.data_contianer{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
    background-color: rgb(7, 107, 146);
    margin-bottom: 1rem;
    padding: 2rem;
    border: 0.1rem solid whitesmoke;
    border-radius: 0.5rem;
}

/* phone */
@media only screen and (max-width:600px){
    .data_contianer{
        display: block;
        font-size: 1.6rem;
    }
   
}


/* tablets */
@media only screen and (min-width:601px) and (max-width:900px){
    .data_contianer{
        display: block;
        font-size: 1.6rem;
    }
   
}
