.data_contianer{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
    background-color: rgb(7, 107, 146);
    margin-bottom: 1rem;
    padding: 2rem;
    border: 0.1rem solid whitesmoke;
    border-radius: 0.5rem;
}
